---
class: #String
article:
  overline:
    text: "Article Overline"
  headline:
    text: "Article Headline"
  subline:
    text: "Article Subline"
  content:
    text: "Er hörte leise Schritte hinter sich. Das bedeutete nichts Gutes. Wer würde ihm schon folgen, spät in der Nacht und dazu noch in dieser engen Gasse mitten im übel beleumundeten Hafenviertel?"
---

{{#mixin "organisms/section" this section-name="headline-text" wrapper=true}}
  {{#content "content"}}

    <div class="grid-g">
      <div class="grid-col-12-12">
        {{{mixin "molecules/article" article}}}
        {{{mixin "atoms/link/deep"}}}
      </div>
    </div>

  {{/content}}
{{/mixin}}
