---
class: #String
article:
  headline:
    text: "Article Headline"
  content:
    text: "Er hörte leise Schritte hinter sich. Das bedeutete nichts Gutes. Wer würde ihm schon folgen, spät in der Nacht und dazu noch in dieser engen Gasse mitten im übel beleumundeten Hafenviertel?"
---
{{#mixin "organisms/section" this section-name="interactive-spotlight" wrapper=true wrapper-fluid=true}}
  {{#content "content"}}
    <div class="grid-g">
      <div class="grid-col-12-12 grid-no-gutter">
        {{{mixin "molecules/moveable-point-light"}}}
      </div>
    </div>
  {{/content}}
{{/mixin}}
