---
overline:
  text: "Overline"
headline:
  text: "Headline"
subline:
  text: "Subline"
picture: {}
---
{{#mixin "organisms/section" this section-name="stage" wrapper=true wrapper-fluid=true}}
  {{#content "content"}}
    <div class="grid-g">
      <div class="grid-col-12-12 grid-no-gutter">
        {{{mixin "atoms/picture" picture}}}
      </div>
    </div>
    <div class="stage__headline grid-wrapper">
      <div class="grid-g">
        <div class="grid-col-12-12">
          {{{mixin "atoms/headline/h3" overline}}}
          {{{mixin "atoms/headline/h1" headline}}}
          {{{mixin "atoms/headline/h2" subline}}}
        </div>
      </div>
    </div>
  {{/content}}
{{/mixin}}
