{{#mixin "organisms/section" partial-name="organisms/section/stage" fluid=true}}

  {{#content "content"}}

    {{{mixin "atoms/picture" class="stage__image"}}}

    {{#if headline}}

      <h1>{{{headline}}}</h1>

    {{/if}}

  {{/content}}

{{/mixin}}


