---
docs:
  refs:
    class:
      type: 'string'
      required: false
    headline: 'ref:atoms/headline/h3'
    content: 'ref:atoms/text'
data:
  class: #String
  headline: 'ref:atoms/headline/h3'
  content: 'ref:atoms/text'
---
<div class="partial{{#if class}} {{{class}}}{{/if}}" data-partial="molecules/headline-text">
  {{{mixin "atoms/headline/h3" headline}}} {{{mixin "atoms/text" content}}}
</div>