---
angle: 45
---
<div class="partial controller" data-partial="molecules/rotateable-handle" data-controller="./partials/molecules/RotateableHandle"
  data-angle="{{{angle}}}" touch-action="none">
  {{{mixin "atoms/link" class="handle" url="#handle" title="" rel="nofollow"}}}
</div>