.partial[data-partial="organisms/header"] {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;

  & > div {
    padding: 20px;
  }

  & nav {
    padding: 20px;
    background: var(--color-header-background);
    border: solid var(--color-primary) 1px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  }
}

[data-partial="layouts/docs"] {
  & .partial[data-partial="organisms/header"] {
    position: relative;
  }
}
