.partial[data-partial="organisms/section"],
.partial[data-partial^="organisms/section/"] {
  padding-top: 20px;
  padding-bottom: 20px;

  > div {
    padding: 20px;
    background: var(--color-2);
    border: solid var(--color-primary) 1px;
  }
}
