.partial[data-partial*="organisms/section"] {
  margin-top: calc(40 / 375 * 100vw);
  margin-bottom: @margin-top;

  @media (--screen-xs) {
    margin-top: calc(60 / 16em);
    margin-bottom: @margin-top;
  }

  &:first-child {
    margin-top: 0;
  }
}
