.partial[data-partial="organisms/section/stage"] {
  padding: 0;

  .stage__image {
    position: relative;
    display: block;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    &::before {
      display: block;
      padding-top: calc(9 / 16 * 100%);
      content: "";
    }
  }
}
