.partial[data-partial="organisms/section/stage"] {
  position: relative;

  .stage {
    &__headline {
      position: absolute;
      bottom: 0;
      width: 100%;

      @media (--screen-xs) {
        right: -100%;
        left: -100%;
      }
    }
  }

  [data-partial="atoms/picture"] {
    &::before {
      position: relative;
      display: block;
      padding-top: calc(9 / 16 * 100%);
      content: "";
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
