---
docs:
  refs:
    navigation: 'ref:molecules/navigation'
data:
  navigation: 'ref:molecules/navigation'
---
<header class="partial controller" data-partial="organisms/header" data-controller="./partials/organisms/Header" data-controller-async="{{{fallback controller-async "idle"}}}">
  <div>{{{mixin "molecules/navigation" navigation}}}</div>
</header>



