---
docs:
  refs:
    fluid:
      type: 'boolean'
      required: false
data:
  fluid: false
---
<section class="partial {{{class}}}" data-partial="{{{fallback partial-name "organisms/section"}}}" {{{data-attributes}}}>
  <div class="{{{class-mapping container=(is fluid false) container-fluid=fluid}}}">
    {{#block "content"}}{{/block}}
  </div>
</section>


