
<style>
  .dummy-container {
    height: 100vh;
  }
</style>


{{{mixin "organisms/section/dummy" controller-name="./partials/organisms/dummy/DummyA" controller-async="visible"}}}
<div class="dummy-container"></div>
{{{mixin "organisms/section/dummy" controller-name="./partials/organisms/dummy/DummyB" controller-async="visible"}}}
<div class="dummy-container"></div>
{{{mixin "organisms/section/dummy" controller-name="./partials/organisms/dummy/DummyC" controller-async="visible"}}}
