:root {
  --color-1: #ddd;
  --color-2: #fff;
  --color-3: #000;
  --color-4: #333;
  --color-5: #666;
  --color-main-background: var(--color-1);
  --color-header-background: var(--color-1);
  --color-primary: var(--color-5);
  --color-primary-hover: var(--color-4);

  /* Headline */
  --color-headline-primary: var(--color-5);
  --color-headline-secondary: var(--color-1);

  /* Copy (Text) */
  --color-copy-primary: var(--color-4);
  --color-copy-secondary: var(--color-5);
}
