:root {
  --color-1: #000;
  --color-2: #002b0d;
  --color-3: #063315;
  --color-4: #0c833d;
  --color-5: #14f074;
  --color-primary: var(--color-5);
  --color-primary-hover: var(--color-4);

  /* Headline */
  --color-headline-primary: var(--color-5);
  --color-headline-secondary: var(--color-1);

  /* Copy (Text) */
  --color-copy-primary: var(--color-4);
  --color-copy-secondary: var(--color-5);
}
