.partial[data-partial="molecules/navigation"] {
  & ul {
    padding: 0;
    margin: 0;
    list-style: none;

    & li {
      display: inline-block;
    }
  }

  & a {
    text-decoration: none;
  }
}
