@import "./base/colors.pcss";
@import "../../generated/pcss/media-vars.pcss";
@import "../../generated/pcss/boostrap-4-grid.pcss";
@import "../../generated/pcss/partials.critical.pcss";

* {
  box-sizing: border-box;
}

html {
  color: white;
  background: var(--color-1);
}

body {
  font-family: sans-serif;
}
