@import "./base/colors.pcss";
@import "./base/vars.pcss";
@import "./base/docs.vars.pcss";
@import "../../generated/pcss/media-vars.pcss";
@import "../../generated/pcss/partials.pcss";
@import "../../generated/pcss/docs.partials.pcss";

html,
body {
  height: 100%;
}
